<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <img class="doctor" src="./assets/index.png" />

<a href="/" class="navbar-brand"> OnCallDoctor</a>  <!-- Brand/logo -->
<ul class="navbar-nav ml-auto">
    
    <li  class="nav-item">
      <a routerLink="/register" class="nav-link"> Register</a>
    </li> 
  
    <li  class="nav-item">
      <a routerLink="/login" class="nav-link"> Login</a>
    </li>
  
    <li  class="nav-item">
      <a routerLink="/aboutus" class="nav-link"> About Us</a>
    </li>
    </ul>
</nav>
